<h1><%= t 'help.operation_types.help' %></h1>
<hr/>
<ul class="list-group">
  <% %w(transformation_tool topology_validation).each do |operation| %>
      <li class="list-group-item">
        <button type="button" class="btn btn-link btn-block" style="text-align: left; outline: none" onclick="this.blur();expand_or_collapse( '<%= operation %>');">
          <%= t "help.operation_types.#{operation}.name" %>
          <span class="caret"/>
        </button>
        <div class="collapse" id="<%= operation %>">
          <%= render "home/operation_types/#{operation}" %>
        </div>
      </li>
  <% end %>
</ul>
<hr/>
<h3>
  <%= t 'help.operation_types.want_new' %>
  <%= link_to (t 'help.operation_types.request_new'), home_request_new_operation_type_path %>
</h3>
