<h1><%= t 'operation_types.request_new_operation_type' %></h1>
<hr/>
<%= form_tag home_request_new_operation_type_path, {:multipart => true} do %>
    <div class="form-group">
      <%= label_tag :name, (t 'operation_types.new_name') %>
      <%= text_field_tag :name, nil, :class => 'form-control', :placeholder => (t 'operation_types.new_name_placeholder') %>
    </div>
    <div class="form-group">
      <%= label_tag :description, (t 'operation_types.new_description') %>
      <%= text_area_tag :description, nil, :class => 'form-control', :placeholder => (t 'operation_types.new_description_placeholder') %>
    </div>
    <div class="form-group">
      <%= label_tag :steps, (t 'operation_types.new_steps') %>
      <%= text_area_tag :steps, nil, :class => 'form-control', :placeholder => (t 'operation_types.new_steps_placeholder') %>
    </div>
    <% if current_user.nil? %>
        <div class="form-group">
          <%= label_tag :email, (t 'operation_types.feedback_email') %>
          <%= email_field_tag :email, nil, :class => 'form-control', :placeholder => (t 'operation_types.feedback_email_placeholder') %>
        </div>
    <% end %>
    <p>
      <%= label_tag 'files[]', (t 'operation_types.request_files') %>
      <%= file_field_tag 'files[]', :multiple => true %>
    </p>
    <%= submit_tag (t 'send'), :class => 'btn btn-primary' %>
<% end %>