<% provide(:title, (t 'project_name')) %>
<h1>Система проверки топологии</h1>
<% if signed_in? %>
    <% if @current_user.admin? %>
        <h4>Типы операций</h4>
        <% if @operation_types.count > 0 %>
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr>
                <th>Тип операции</th>
                <th>Стоимость</th>
                <th>Адрес</th>
                <th></th>
              </tr>
              <% @operation_types.each do |operation_type| %>
                  <tr>
                    <td><%= link_to operation_type.name, operation_type %></td>
                    <td><%= operation_type.cost %></td>
                    <td><%= operation_type.service_folder %></td>
                    <td>
                      <%= link_to (content_tag :span, nil, :class => 'glyphicon glyphicon-pencil'), edit_operation_type_path(operation_type) %>
                      <%= link_to (content_tag :span, nil, :class => 'glyphicon glyphicon-trash'), operation_type, :method => :delete, :data => {:confirm => 'Вы уверены?'} %>
                    </td>
                  </tr>
              <% end %>
            </table>
            <%= link_to 'Добавить тип операции', new_operation_type_path %>
        <% else %>
            <p>Типы операций пока не добавлены, <%= link_to 'добавить', new_operation_type_path %></p>
        <% end %>
        <hr/>
    <% end %>
    <h4>Мои операции</h4>
    <% if @operations.count > 0 %>
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th></th>
            <th>Дата создания</th>
            <th>Дата запуска</th>
            <th>Дата завершения</th>
            <th>Состояние</th>
          </tr>
          <% @operations.each do |operation| %>
              <tr>
                <td><%= link_to (content_tag :span, nil, :class => 'glyphicon glyphicon-eye-open'), operation %></td>
                <td><%= operation.created %></td>
                <td><%= operation.launched %></td>
                <td><%= operation.completed %></td>
                <td><%= operation.state %></td>
              </tr>
          <% end %>
        </table>
        <p><%= link_to 'Создать операцию', new_operation_path %></p>
    <% else %>
        <p>У вас пока нет операций, <%= link_to 'создать', new_operation_path %></p>
    <% end %>
<% else %>
    <p>Вы не зарегистрированы, <%= link_to 'войдите', signin_path %>
      или <%= link_to 'зарегистрируйтесь', signup_path %></p>
<% end %>
