<% unless current_user.nil? %>
    <h1><%= current_user.email %></h1>
    <p>
      <%= t 'balance.your_balance_is' %> <b><%= current_user.balance %></b>
      <% if current_user.reserved > 0 %>
          (<%= t 'balance.reserved_balance' %> <b><%= current_user.reserved %></b>)
      <% end %>
    </p>
    <p><%= t 'operations.operations', :count => current_user.operations.count %></p>
    <p><%= t 'person.signed_in_count', :count => current_user.sign_in_count %></p>
    <p><%= "#{t 'person.last_sign_in'}: #{l current_user.last_sign_in_at}" %></p>
    <p><%= "#{t 'person.language'}: #{current_user.locale.nil? ? (t 'does_not_selected') : PersonsHelper::LOCALES[current_user.locale]}" %></p>
    <% if current_user.user_files.count > 0 %>
        <h3><%= t 'person.user_files' %></h3>
        <table class="table table-bordered table-condensed table-striped table-hover">
          <% if current_user.requisites_files.count > 0 %>
              <tr>
                <th colspan="4" class="info">
                  <h4><%= t 'person.requisites_files' %></h4>
                </th>
              </tr>
              <% current_user.requisites_files.each do |file| %>
                  <tr>
                    <td><%= file.humanized_name %></td>
                    <td><%= l file.created_at %></td>
                    <td>
                      <%= link_to (content_tag :span, nil, :class => 'glyphicon glyphicon-trash', :title => (t 'person.delete_file')), delete_user_file_path(:id => file.id), :method => :delete, :data => {:confirm => (t 'are_you_sure')} %>
                    </td>
                    <td>
                      <%= link_to (content_tag :span, nil, :class => 'glyphicon glyphicon-download', :title => (t 'person.download_file')), download_user_file_path(:id => file.id) %>
                    </td>
                  </tr>
              <% end %>
              </table>
          <% end %>
    <% end %>
    <hr/>
    <%= link_to (t 'person.edit_profile'), edit_user_registration_path, :class => 'btn btn-default' %>
<% end %>