<h1>Запрос на выставление счёта</h1>
<% if operation.nil? %>
    <p>Пользователь <b><%= user.email %></b> запросил счёт на пополнение баланса</p>
    <p>Сумма пополнения составляет <b><%= sum %></b></p>
<% else %>
    <p>Пользователь <b><%= user.email %></b> запросил счёт за операцию <b><%= "#{operation.id}. #{operation.description}" %></b></p>
    <p>Стоимость операции составляет <b><%= operation.cost %></b></p>
<% end %>
<p>Язык пользователя <b><%= user.locale.nil? ? 'не выбран' : PersonsHelper::LOCALES[user.locale] %></b></p>
<p>Реквизиты пользователя - во вложении</p>