<h1>Запрос на создание нового типа операции</h1>
<p>
  <%= user.nil? ? 'Незарегистрированный пользователь с адресом ' : 'Пользователь ' %>
  <b><%= email %></b>
  запросил создание новой операции
</p>
<hr/>
<p>
  Наименование операции: <b><%= operation_name %></b>
</p>
<p>
  Описание:
  <br/>
  <b><%= description %></b>
</p>
<% unless steps.nil? %>
    <p>
      Шаги:
      <br/>
      <b><%= steps %></b>
    </p>
<% end %>
<hr/>
<p>Язык пользователя <b><%= user.nil? || user.locale.nil? ? 'не выбран' : PersonsHelper::LOCALES[user.locale] %></b></p>
