<p><%= "#{I18n.t 'hello'} #{user.email}!" %></p>

<p><%= I18n.t 'person.change_password_link_hint' %></p>

<p><%= I18n.t 'person.oauth_cannot_change_password', :oauth_provider => h_provider %></p>

<p><%= link %></p>

<p><%= I18n.t 'person.ignore_email_if_did_not_request' %></p>
