<p><%= "#{t 'hello'} #{@resource.email}!" %></p>

<p><%= t 'person.change_password_link_hint' %></p>

<p><%= link_to (t 'person.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t 'person.ignore_email_if_did_not_request' %></p>
<p><%= t 'person.password_will_not_change_until_link' %></p>
