<hr/>
<footer class="footer">
  <small>
  </small>
  <span class="pull-left">
  <ul class="list-inline">
    <!--<li><a href="http://mobile-geo.ru/">-->
    <!--<%= t 'jsc_mobile' %>-->
    <!--</a></li>-->
    <!--<li></li>-->
    <!--li><%= link_to (t 'contacts.contacts'), home_contacts_path %></li-->
    <!--li><%= link_to (t 'services.services_info'), home_service_info_path %></li-->
    <li><%= link_to (t 'help.terms_of_use'), home_terms_of_use_path %></li>
    <li><%= link_to (t 'help.privacy_policy'), home_privacy_policy_path %></li>
  </ul>
  </span>
  <span class="pull-right">
  <ul class="list-inline">
    <li><%= link_to (t 'help.about'), home_about_path %></li>
  </ul>
  </span>
</footer>
<% if root_url.include? 'spat-ops.com' %>
    <!– Yandex.Metrika counter –>
    <script type="text/javascript"> (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter33132458 = new Ya.Metrika({
                    id: 33132458,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    trackHash: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");</script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/33132458" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript><!– /Yandex.Metrika counter –>
<% end %>