<h1><%= t 'payment.invoicing' %></h1>
<hr/>
<p>
  <%= form_tag post_invoice_path, {:multipart => true} do %>
      <%= hidden_field_tag :tab, @tab %>
    <div class="form-group">
      <%= label_tag :sum, (t 'payment.sum') %>
      <%= number_field_tag :sum, '', :class => 'form-control' %>
    </div>
    <!--<div class="form-group">-->
      <!--<%= label_tag :currency, (t 'payment.currency') %>-->
      <!--<%= number_field_tag :currency, '', :class => 'form-control' %>-->
    <!--</div>-->
      <%
         operation_id = @operation.id unless @operation.nil?
         if operation_id.nil? %>
      <% else %>
          <%= hidden_field_tag :id, operation_id %>
      <% end %>
    <h4 class="text text-info">
      <%= case current_user.requisites_files.count
            when 0
              t 'payment.no_requisites_yet_must_upload_requisites_file'
            when 1
              t 'payment.has_one_requisites_file'
            else
              t 'payment.has_requisites_files'
          end %>
    </h4>
    <% if current_user.requisites_files.count > 0 %>
        <ul class="nav nav-tabs">
          <li role="presentation" class="<%= 'active' if @tab.nil? || @tab == '1' %>">
            <% path = if operation_id.nil?
                        invoice_path :tab => '1'
                      else
                        invoice_path :id => operation_id, :tab => '1'
                      end %>
            <%= link_to "#{current_user.requisites_files.count > 1 ? (t 'payment.select_existing_requisites') : (t 'payment.use_existing_requisites')}", path %>
          </li>
          <li role="presentation" class="<%= 'active' if @tab == '2' %>">
            <% path = if operation_id.nil?
                        invoice_path :tab => '2'
                      else
                        invoice_path :id => operation_id, :tab => '2'
                      end %>
            <%= link_to (t 'payment.upload_new_requisites'), path %>
          </li>
        </ul>
    <% end %>
    <% if current_user.requisites_files.count == 0 || @tab == '2' %>
        <div class="form-group">
          <%= label_tag :customer_requisites, (t 'payment.customer_requisites') %>
          <%= file_field_tag :customer_requisites %>
        </div>
        <div class="form-group">
          <%= check_box_tag :save_customer_requisites, '1', true %>
          <%= label_tag :save_customer_requisites, (t 'payment.save_customer_requisites') %>
        </div>
        <div class="form-group">
          <%= label_tag :requisites_file_description, (t 'payment.requisites_file_description') %>
          <%= text_field_tag :requisites_file_description, '', :class => 'form-control' %>
        </div>
    <% else %>
        <div class="form-group">
          <%= label_tag :select_requisites_file, (t 'payment.select_requisites_file') %>
          <%
             files = {}
             current_user.requisites_files.each do |file|
               files.merge!({file.humanized_name_with_creation_date => file.id})
             end
          %>
          <%= select_tag :select_requisites_file, options_for_select(files), :include_blank => (current_user.requisites_files.count > 1 ? (t 'payment.select_requisites_file') : false), :class => 'form-control' %>
        </div>
    <% end %>
    <p>
      <%= submit_tag (t 'next'), :class => 'btn btn-primary' %>
    </p>
    <% if current_user.requisites_files.count > 0 %>
    <% end %>
<% end %>
</p>
